MONGODB_URI=mongodb+srv://ahmed:ahmedhammam66@cluster0.nzceicn.mongodb.net/
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyA98RIwbR-rmsEUOCSpKeDUg3jgNQ6_kv8
GOOGLE_MAPS_BACKEND_API_KEY=AIzaSyBiKU21I4MEn3f9jAIl7C3ROi6AIpWwCJ0
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51Sjajq8RtmM0zdscgfq1j1dMwKKQzbWCZ08MiuuPbjxkGoqMwg7VG09tx1Gd9XyWlu8JObaOIF9s7FBMA2AnZVyX00iIPMHzjy
STRIPE_SECRET_KEY=sk_test_51Sjajq8RtmM0zdschwFLmvgeib5b466YT5CVreePvsz0MaJbhEvsFzMD95FRTYGusuUGoh07qdHVy0oATrzeYfwZ00ygVJtdU7
STRIPE_WEBHOOK_SECRET=whsec_b0ef6402fdc60d6bf80ab6e60c6c2e6529f304b1d39eb6362868540595048f0d
ADMIN_PASSWORD=Admin@12345
NEXT_PUBLIC_URL=http://localhost:3000